@model IEnumerable<criptowebbcc.Models.Transacao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transações</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Adicionar Transação</a>
    <a asp-controller="query" asp-action="grpByProduto" class="btn btn-outline-primary">Agrupar por Produto</a>
    <a asp-controller="query" asp-action="grpByMes" class="btn btn-outline-primary">Agrupar por Mês</a>
    <a asp-controller="query" asp-action="PivotMes" class="btn btn-outline-primary">Pivotear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.nomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
