@model IEnumerable<criptowebbcc.Models.Consulta.TransacaoQry>

@{
    ViewData["Title"] = "Transacoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transacoes</h1>

<p>
    <a asp-controller="transacoes" asp-action="index" class="btn btn-outline-primary">Voltar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Produto
            </th>
            <th>
                Tipo Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Data
            </th>
            <th>
                Valor
            </th>
            <th>
                Id do Cliente
            </th>
            <th>
                Nome do Cliente
            </th>
            <th>
                Total da Compra
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            float totalGeral = 0;
        }
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.produto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            @{
                float total = item.quantidade * item.valor;
                totalGeral = totalGeral + total;
            }
        </tr>
}
    </tbody>
</table>
 <hr />
 <h5>Total Geral: @totalGeral.ToString("C2")</h5>
