@model IEnumerable<criptowebbcc.Models.Consulta.TransacaoQry>

@{
    ViewData["Title"] = "Transacoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transacoes</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Adicionar Transação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id do Produto
            </th>
            <th>
                Tipo Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Data
            </th>
            <th>
                Valor
            </th>
            <th>
                Id do Cliente
            </th>
            <th>
                Nome do Cliente
            </th>
            <th>
                Total da Compra
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.produto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
